<h1 class="text-center fs-1 fw-bolder mt-4 text-dark-emphasis">Editar Dados do Funcionário</h1>

<div class="d-flex justify-content-center mt-5">
  <mat-card class="w-50">
    <mat-card-content class="container">
        <!-- chamar  o formulário de create  Employee -->
        <form [formGroup]="formEmployee" class="row" (submit)="updateEmployee()">
            <!-- Id do funcionário -->
            <input matInput type="text" formControlName="id" id="id" [(ngModel)]="employeeId" hidden="true">

            <!-- formControlName = algum atributo que foi construído para o formulário  -->
            <mat-form-field class="col-sm-12">
                <mat-label for="name">Nome:</mat-label>
                <input matInput type="text" formControlName="name" id="name" [(ngModel)]="employeeName" [required]="true">
            </mat-form-field>

            <mat-form-field class="col-sm-12">
                <mat-label for="role">Cargo:</mat-label>
                <mat-select formControlName="role" [(ngModel)]="employeeRole" [required]="true">
                    <mat-option *ngFor="let type of roleList" [value]="type">{{type}}</mat-option>
                </mat-select>
            </mat-form-field>

            <!-- Componente Button do Angular Material -->
            <div class="col-sm-12">
                <button mat-raised-button color="primary" type="submit">Atualizar</button>
            </div>
        </form>
    </mat-card-content>
  </mat-card>
</div>
