<header class="bg-black">

  <nav>
    <div>
      <ul class="d-flex flex-row">
        <li class="mt-2"><img src="assets/scissors-logo.png" alt="" width="100"></li>
        <li class="mt-5 mx-lg-2">ScheduEase Agenda</li>
        <li class="mt-5 mx-lg-5"><a mat-button href="home">Home</a></li>
        <li class="mt-5 mx-lg-5"><a mat-button href="schedule">Agenda</a></li>
        <li class="mt-5 mx-lg-5"><a mat-button href="employee">Cadastro de Funcionários</a></li>
      </ul>
    </div>
  </nav>

</header>

