<h1 class="text-center fs-1 fw-bolder mt-4 text-dark-emphasis">Agenda</h1>

<!-- DatePicker -->
<mat-form-field class="d-flex justify-content-center">
  <mat-label>Selecione uma Data</mat-label>
  <input matInput [matDatepicker]="picker" [(ngModel)]="appointmentDate" (dateChange)="listAppointments()">
  <mat-hint>Mês/Dia/Ano</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<!-- <form class="m-auto w-25">

  <label for="date-picker"  class="control-label fs-5 mt-4">Selecione uma Data</label>
  <input type="date" [(ngModel)]="date" class="form-control" id="date-picker" name="date"  (change)="listAppointments(1)"/>

</form> -->




<!-- tabela como os horários -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 m-auto mt-5" >

  <!-- Coluna Horário -->
  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef class="text-center"> Horário </th>
    <td mat-cell *matCellDef="let hour" class="text-center" > {{ hour }} </td>
  </ng-container>

  <!-- Coluna Nome -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef class="text-center"> Cliente </th>
    <td mat-cell *matCellDef="let hour" class="text-center" >
      <span *ngFor="let element of schedules">
        <span *ngIf="hour == formatHour(element.startTime)">
          {{ element.clientName }}
        </span>
      </span>
      <span *ngIf="setReserved(hour, schedules) === false">
        <button style="border: none; border-radius: 7px; background-color: rgb(65, 65, 201);height: 15px; width: 100%; margin-left: 20px;"></button>
      </span>

    </td>
  </ng-container>

  <!-- Coluna Serviço -->
  <ng-container matColumnDef="service">
    <th mat-header-cell *matHeaderCellDef class="text-center"> Seviço </th>
    <td mat-cell *matCellDef="let hour" class="text-center">
      <span *ngFor="let element of schedules">
        <span *ngIf="hour === formatHour(element.startTime)">
          {{ element.serviceBooked }}
        </span>
      </span>
      <span *ngIf="setReserved(hour, schedules) === false">
        <button style="border: none; border-radius: 7px; background-color: rgb(65, 65, 201);height: 15px; width: 100%"></button>
      </span>

    </td>
  </ng-container>

  <!-- Coluna Ação -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef class="text-center"> Ação </th>
      <td mat-cell *matCellDef="let hour" class="text-center">
        <span *ngFor="let element of schedules">
          <span *ngIf="hour === formatHour(element.startTime)">
            <button mat-flat-button color="primary" class="m-lg-2" >Editar</button>
            <button mat-flat-button color="warn" >Excluir</button>
          </span>

        </span>
        <span *ngIf="isFree(hour, schedules)">
          <button  mat-flat-button color="accent" class="m-lg-2" (click)="createAppointment(hour)">Agendar</button>
        </span>
        <span *ngIf="setReserved(hour, schedules) === false">
          <p>Horário Reservado</p>
        </span>

      </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
</table>

