<h1 class="text-center fs-1 fw-bolder mt-4 text-dark-emphasis">Agenda</h1>

<!-- DatePicker -->
<mat-form-field class="d-flex justify-content-center">
  <mat-label>Selecione uma Data</mat-label>
  <input matInput [matDatepicker]="picker">
  <mat-hint>Mês/Dia/Ano</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>



<!-- tabela como os horários -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 m-auto mt-5" >

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef class="text-center"> Horário </th>
    <td mat-cell *matCellDef="let hour" class="text-center" > {{ hour }} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef class="text-center"> Cliente </th><!-- Percorrendo a lista de horários -->
    <td mat-cell *matCellDef="let hour" class="text-center" ><span *ngFor="let element of elements"><span *ngIf="hour == element.startTime; break">{{ element.clientName }}</span></span></td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="service">
    <th mat-header-cell *matHeaderCellDef class="text-center"> Seviço </th><!-- Percorrendo a lista de horários -->
    <td mat-cell *matCellDef="let hour" class="text-center">
      <span *ngFor="let element of elements">
        <span *ngIf="hour === element.startTime">
          {{ element.serviceBooked }}
        </span>
      </span>
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef class="text-center"> Ação </th>

    <span *ngFor="let element of elements">
      <td mat-cell *matCellDef="let hour" class="text-center">

        <span *ngIf="hour === element.startTime">
          <button mat-flat-button color="primary" class="m-lg-2" >Editar</button>
          <button mat-flat-button color="warn" >Excluir</button>
        </span>

        <span *ngIf="hour !== element.startTime">
          <button mat-flat-button color="accent" class="m-lg-2" >Agendar</button>
        </span>
      </td>
    </span>

  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
</table>

