<h1 class="text-center fs-1 fw-bolder mt-4 text-dark-emphasis">Cadastrar Funcionário</h1>

<div class="d-flex justify-content-center mt-5">
  <mat-card class="w-50">
    <mat-card-content class="container">
        <!-- chamar  o formulário de create  Employee -->
        <form [formGroup]="formEmployee" class="row" (submit)="createEmployee()">
            <!-- formControlName = algum atributo que foi construído para o formulário  -->
            <mat-form-field class="col-sm-12">
                <mat-label for="name">Nome:</mat-label>
                <input matInput type="text" formControlName="name" id="name">
            </mat-form-field>

            <mat-form-field class="col-sm-12">
                <mat-label for="role">Cargo:</mat-label>
                <mat-select formControlName="role">
                    <mat-option value="">Selecione um Cargo</mat-option>
                    <!-- diretiva *ngFor percorre o array de tiposnp e popula o <option> -->
                    <mat-option *ngFor="let type of roleList" [value]="type">{{type}}</mat-option>
                </mat-select>
            </mat-form-field>

            <!-- Componente Button do Angular Material -->
            <div class="col-sm-12">
                <button mat-raised-button color="primary" type="submit">Cadastar</button>
            </div>
        </form>
    </mat-card-content>
  </mat-card>
</div>
