<h1 mat-dialog-title class="text-dark-emphasis">Agendar horário</h1>
<div mat-dialog-content>

   <!-- chamar  o formulário de create  Appointment -->
   <form [formGroup]="formAppointment" class="row">
    <!-- formControlName = algum atributo que foi construído para o formulário  -->
    <mat-form-field class="col-sm-12">
        <mat-label for="clientName">Nome do Cliente:</mat-label>
        <input matInput type="text" formControlName="clientName" id="clientName" [required]="true">
    </mat-form-field>

    <input matInput type="number" [ngModel]="data.employeeId" formControlName="employeeId" id="employeeId" [required]="true" hidden="true">

    <mat-form-field class="col-sm-12">
      <mat-label for="serviceBooked">Serviço:</mat-label>
      <input matInput type="text" formControlName="serviceBooked" id="serviceBooked" [required]="true">
    </mat-form-field>

    <input matInput type="text"  [ngModel]="data.appointmentDate" formControlName="appointmentDate" id="appointmentDate" [required]="true" hidden="true">

    <input matInput type="text"  [ngModel]="data.startTime" formControlName="startTime" id="startTime" [required]="true" hidden="true">

    <mat-form-field class="col-sm-12">
        <mat-label for="endTime">Horário Fim:</mat-label>
        <mat-select formControlName="endTime" [required]="true">
            <mat-option value="">Selecione um Cargo</mat-option>
            <!-- diretiva *ngFor percorre o array de tiposnp e popula o <option> -->
            <mat-option *ngFor="let hour of timeGrid" [value]="formatHour(hour)">{{ hour }}</mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Componente Button do Angular Material -->
    <div class="col-sm-8">
      <button mat-raised-button color="warn" class="m-lg-2" (click)="createAppointment()">Agendar</button>
      <button mat-raised-button color="primary" (click)="closeDialog()">Cancelar</button>
    </div>
</form>



</div>
