li {
  list-style: none;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  right: 20px;
}

ul li {
  margin-bottom: 10px;
}

button {
  position: relative;
  right: 10px;
}

h1 {
  font-weight: 600;
}
